@model Projeto
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    ViewData["Title"] = "Criar Projeto";
}

<div class="text-center">


    <h1 class="display-4">Cadastrar Projeto</h1>

</div>

<form asp-controller="Projeto" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do projeto">
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição">
    </div>
    <div class="mb-3">
        <label for="dataInicio" class="form-label">Data de Início</label>
        <input type="date" asp-for="DataInicio" class="form-control" placeholder=""/>
    </div>
    <div class="mb-3">
        <label for="dataFim" class="form-label">Data do Fim</label>
        <input type="date" asp-for="DataFim" class="form-control" placeholder=""/>
    </div>
    <div class="mb-3">
        <label for="orcamento" class="form-label">Orçamento</label>
        <input type="number" step="0.1" min="0" asp-for="Orcamento" class="form-control" placeholder=""/>
    </div>
    <div class="mb-3">
        <label for="clienteId" class="form-label">Cliente</label>
        <select asp-for="ClienteId" class="form-control" asp-items="@(ViewData["ClienteId"] as SelectList)">
            <option value="">-- Selecione um Cliente --</option>
        </select>
        <span asp-validation-for="ClienteId" class="text-bg-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success btn-block w-100 py-2">Adicionar</button>
    <br />
    <br />
    <a class="btn btn-secondary btn-block w-100 py-2" asp-controller="Projeto" asp-action="Index" role="button">Voltar</a>
</form>
